################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TimeLapse/bin/Debug
/TimeLapse/TimeLapse/obj/Debug
