<?xml version="1.0" encoding="utf-8" ?>
<!--复制此文档各种Ioc定义方式到需要的地方-->
<objects xmlns="http://www.springframework.net">

  <object id="commandsJob" type="Spring.Scheduling.Quartz.MethodInvokingJobDetailFactoryObject, Spring.Scheduling.Quartz20">
    <property name="TargetObject" ref="commandFactory" />
    <property name="TargetMethod" value="ExecuteInternal" />
    <property name="concurrent" value="false" />
  </object>

  <object id="commandsTrigger" type="Spring.Scheduling.Quartz.SimpleTriggerObject, Spring.Scheduling.Quartz20">
    <property name="JobDetail" ref="commandsJob" />
    <property name="StartDelay" value="1s" />
    <property name="RepeatInterval" value="500ms" />
  </object>

  <object id="scheduler"  type="Spring.Scheduling.Quartz.SchedulerFactoryObject, Spring.Scheduling.Quartz20">
    <property name="triggers">
      <list>
        <ref object="commandsTrigger" />
      </list>
    </property>
  </object>
  
</objects>