<?xml version="1.0" encoding="utf-8" ?>
<!--复制此文档各种Ioc定义方式到需要的地方-->
<objects xmlns="http://www.springframework.net">

  <!--命令工厂-->
  <object id="operationFactory" type="TimeLapse.Operation.OperationFactory, TimeLapse">
    <property name="CommandQueue" ref="CommandQueue" />
    <property name="CommandFactory" ref="CommandFactory"/>
    <!--Dictionary-->
    <property name="CommandFactory">
      <dictionary>
        <entry key="Move Absolute" value-ref= "MoveAbsolute"/>
        <entry key="Move Exit" value-ref= "MoveExit"/>
        <entry key="Move Home" value-ref= "MoveHome"/>
        <entry key="Move Start" value-ref= "MoveStart"/>
        <entry key="Move X" value-ref= "MoveX"/>
        <entry key="Move Y" value-ref= "MoveY"/>
        <entry key="Move Z" value-ref= "MoveZ"/>
        <entry key="Set Move Resolution X" value-ref= "SetMoveResolutionX"/>
        <entry key="Set Move Resolution Y" value-ref= "SetMoveResolutionY"/>
        <entry key="Set Move Resolution Z" value-ref= "SetMoveResolutionZ"/>
        <entry key="Start Move X With Speed" value-ref= "StartMoveXWithSpeed"/>
        <entry key="Start Move Y With Speed" value-ref= "StartMoveYWithSpeed"/>
        <entry key="Start Move Z With Speed" value-ref= "StartMoveZWithSpeed"/>
        <entry key="Stop Move" value-ref= "StopMove"/>
        <entry key="Stop Move X" value-ref= "StopMoveX"/>
        <entry key="Stop Move Y" value-ref= "StopMoveY"/>
        <entry key="Stop Move Z" value-ref= "StopMoveZ"/>
      </dictionary>
    </property>
  </object>
  
  <!--具体命令-->
  <object id="MoveAbsolute" type="TimeLapse.Operation.MobilityCommand.CommandMoveAbsolute, TimeLapse">
    <constructor-arg value="0"/>
    <constructor-arg value="0"/>
    <constructor-arg value="0"/>
    <constructor-arg value="Move Absolute"/>
  </object>
  <object id="MoveExit" type="TimeLapse.Operation.MobilityCommand.CommandMoveExit, TimeLapse">
    <constructor-arg value="Move Exit"/>
  </object>
  <object id="MoveHome" type="TimeLapse.Operation.MobilityCommand.CommandMoveHome, TimeLapse">
    <constructor-arg value="Move Home"/>
  </object>
  <object id="MoveStart" type="TimeLapse.Operation.MobilityCommand.CommandMoveStart, TimeLapse">
    <constructor-arg value="10.0.0.100"/>
    <constructor-arg value="Move Start"/>
  </object>
  <object id="MoveX" type="TimeLapse.Operation.MobilityCommand.CommandMoveX, TimeLapse" >
    <constructor-arg value="0"/>
    <constructor-arg value="Move X"/>
  </object>
  <object id="MoveY" type="TimeLapse.Operation.MobilityCommand.CommandMoveY, TimeLapse" >
    <constructor-arg value="0"/>
    <constructor-arg value="Move Y"/>
  </object>
  <object id="MoveZ" type="TimeLapse.Operation.MobilityCommand.CommandMoveZ, TimeLapse" >
    <constructor-arg value="0"/>
    <constructor-arg value="Move Z"/>
  </object>
  <object id="SetMoveResolutionX" type="TimeLapse.Operation.MobilityCommand.CommandSetMoveResolutionX, TimeLapse" >
    <constructor-arg value="0"/>
    <constructor-arg value="Set Move Resolution X"/>
  </object>
  <object id="SetMoveResolutionY" type="TimeLapse.Operation.MobilityCommand.CommandSetMoveResolutionY, TimeLapse" >
    <constructor-arg value="0"/>
    <constructor-arg value="Set Move Resolution Y"/>
  </object>
  <object id="SetMoveResolutionZ" type="TimeLapse.Operation.MobilityCommand.CommandSetMoveResolutionZ, TimeLapse" >
    <constructor-arg value="0"/>
    <constructor-arg value="Set Move Resolution Z"/>
  </object>
  <object id="StartMoveXWithSpeed" type="TimeLapse.Operation.MobilityCommand.CommandStartMoveXWithSpeed, TimeLapse">
    <constructor-arg value="0"/>
    <constructor-arg value="Start Move X With Speed"/>
  </object>
  <object id="StartMoveYWithSpeed" type="TimeLapse.Operation.MobilityCommand.CommandStartMoveYWithSpeed, TimeLapse">
    <constructor-arg value="0"/>
    <constructor-arg value="Start Move Y With Speed"/>
  </object>
  <object id="StartMoveZWithSpeed" type="TimeLapse.Operation.MobilityCommand.CommandStartMoveZWithSpeed, TimeLapse">
    <constructor-arg value="0"/>
    <constructor-arg value="Start Move Z With Speed"/>
  </object>
  <object id="StopMove" type="TimeLapse.Operation.MobilityCommand.CommandStopMove, TimeLapse" >
    <constructor-arg value="Stop Move"/>
  </object>
  <object id="StopMoveX" type="TimeLapse.Operation.MobilityCommand.CommandStopMoveX, TimeLapse">
    <constructor-arg value="Stop Move X"/>
  </object>
  <object id="StopMoveY" type="TimeLapse.Operation.MobilityCommand.CommandStopMoveY, TimeLapse">
    <constructor-arg value="Stop Move Y"/>
  </object>
  <object id="StopMoveZ" type="TimeLapse.Operation.MobilityCommand.CommandStopMoveZ, TimeLapse">
    <constructor-arg value="Stop Move Z"/>
  </object>
  
  
  <!--命令队列-->
  <object id="CommandQueue" type="TimeLapse.Operation.CommandQueue, TimeLapse">
  </object>

  <object id="gclib" type="TimeLapse.Operation.Gclib, TimeLapse">
  </object>

  <object id="mobilityController" type="TimeLapse.Operation.HDSMobilityController, TimeLapse">
    <property name="gclib" ref="gclib" />
    <property name="ResolutionX" value="10000"/><!--光栅分辨率-->
    <property name="ResolutionY" value="20000"/><!--光栅分辨率-->
    <property name="ResolutionZ" value="20000"/><!--光栅分辨率-->
    <property name="DEFAULT_IP_ADDRESS" value ="10.0.0.100"/><!--默认IP-->
    <property name="AXIS_ENABLE" value ="SH"/><!--轴使能，使外界力不能移动轴+（A,B）-->
    <property name="AXIS_RELEASE" value ="MO"/><!--释放 电机关断-->
    <property name="STOP " value ="ST"/><!--停止所有动作-->
    <property name="EXCUATE" value ="BG"/><!--执行动作-->
    <property name="GO_HOME" value ="FIB"/><!--回零-->
    <property name="AXIS_A" value ="A"/><!--代表X轴-->
    <property name="AXIS_B" value ="B"/><!--代表Y轴-->
    <property name="AXIS_C" value ="C"/><!--代表Z轴-->
    <property name="GET_POS" value ="_TP"/><!--得到当前位置-->
    <property name="GET_POS_ERROR" value ="_TE"/><!--得到当前位置误差-->
    <property name="ABS_MOVE" value ="PA"/><!--绝对移动-->
    <property name="RELATIVE_MOVE" value ="PR"/><!--相对移动-->
    <property name="WATCH_OPERATOR" value ="MG "/><!--查看操作数-->
    <property name="START_MOTION" value =" _BG"/><!--开始运动-->
  </object>

</objects>