<?xml version="1.0" encoding="utf-8" ?>
<!--复制此文档各种Ioc定义方式到需要的地方-->
<objects xmlns="http://www.springframework.net">

  <object name="mainForm" type="TimeLapse.MainForm, TimeLapse">
    <property name="dbADOFactory" ref="dbADOFactory"/>
  </object>

  <!--For Debug-->
  <object name="controlForm" type="TimeLapse.UI.ControlForm, TimeLapse">
    <property name="CommandQueue" ref="CommandQueue"/>
    <property name="CommandFactory" ref="CommandFactory"/>
  </object>

  <!--Machine Setting Form-->
  <object name="machineSettingForm" type="TimeLapse.UI.MachineSettingForm, TimeLapse"
          singleton="false">
    <property name="CommandQueue" ref="CommandQueue"/>
    <property name="CommandFactory" ref="CommandFactory"/>
    <property name="IpAddress" value="10.0.0.100"/>
    <property name="MotionStep" value="1"/>
    <property name="StepUnit" value="50nm"/>
    <property name="MotionSpeed" value="1"/>
    <property name="IsFixedLength" value="true"/>
  </object>
</objects>