<?xml version="1.0" encoding="utf-8" ?>
<!--复制此文档各种Ioc定义方式到需要的地方-->
<objects xmlns="http://www.springframework.net">

  <!--命令工厂-->
  <object id="operationFactory" type="TimeLapse.Operation.OperationFactory, TimeLapse">
    <property name="CommandFactory" ref="CommandFactory" />
  </object>

  <object id="CommandFactory" type="TimeLapse.Operation.CommandFactory, TimeLapse">
    <constructor-arg ref="CommandQueue"/>
    <constructor-arg ref="CommandRepertory"/>
  </object>

  <object id="CommandRepertory" type="System.Collections.Generic.Dictionary&lt;System.String, TimeLapse.Operation.Command>">
    <constructor-arg>
      <dictionary>
        <!--相机相关操作指令-->
        <entry key="Start Camera" value-ref= "StartCamera"/>
        <entry key="Pause Camera" value-ref= "PauseCamera"/>
        <entry key="Close Camera" value-ref= "CloseCamera"/>
        <entry key="Camera Position" value-ref= "CameraPosition"/>
        <entry key="Camera Capture" value-ref= "CameraCapture"/>
        <!--控制平台相关指令-->
        <entry key="Move Absolute" value-ref= "MoveAbsolute"/>
        <entry key="Move Exit" value-ref= "MoveExit"/>
        <entry key="Move Home" value-ref= "MoveHome"/>
        <entry key="Move Start" value-ref= "MoveStart"/>
        <entry key="Move X" value-ref= "MoveX"/>
        <entry key="Move Y" value-ref= "MoveY"/>
        <entry key="Move Z" value-ref= "MoveZ"/>
        <entry key="Set Move Resolution" value-ref= "SetMoveResolution"/>
        <entry key="Set Move Resolution X" value-ref= "SetMoveResolutionX"/>
        <entry key="Set Move Resolution Y" value-ref= "SetMoveResolutionY"/>
        <entry key="Set Move Resolution Z" value-ref= "SetMoveResolutionZ"/>
        <entry key="Start Move X With Speed" value-ref= "StartMoveXWithSpeed"/>
        <entry key="Start Move Y With Speed" value-ref= "StartMoveYWithSpeed"/>
        <entry key="Start Move Z With Speed" value-ref= "StartMoveZWithSpeed"/>
        <entry key="Stop Move" value-ref= "StopMove"/>
        <entry key="Stop Move X" value-ref= "StopMoveX"/>
        <entry key="Stop Move Y" value-ref= "StopMoveY"/>
        <entry key="Stop Move Z" value-ref= "StopMoveZ"/>
      </dictionary>
    </constructor-arg>
  </object>
  
  <!--抽象命令-->
  <object name="abstractCommand" abstract="true" type="TimeLapse.Operation.MobilityCommand.Command, TimeLapse" >
    <property name="CommandName" value="Abstract Command"/>
    <property name="MobilityController" ref="mobilityController"/>
    <property name="Camera" ref="Camera"/>
  </object>
  
  <!--具体命令-->
  <!--相机相关操作指令-->
  <object id="StartCamera" parent="abstractCommand" type="TimeLapse.Operation.MobilityCommand.CommandCameraStart, TimeLapse">
    <constructor-arg value="Start Camera"/>
  </object>

  <object id="PauseCamera" parent="abstractCommand" type="TimeLapse.Operation.MobilityCommand.CommandCameraPause, TimeLapse">
    <constructor-arg value="Pause Camera"/>
  </object>

  <object id="CloseCamera" parent="abstractCommand" type="TimeLapse.Operation.MobilityCommand.CommandCameraClose, TimeLapse">
    <constructor-arg value="Close Camera"/>
  </object>

  <object id="CameraPosition" parent="abstractCommand" type="TimeLapse.Operation.MobilityCommand.CommandCameraPosition, TimeLapse">
    <constructor-arg value="Camera Position"/>
  </object>

  <object id="CameraCapture" parent="abstractCommand" type="TimeLapse.Operation.MobilityCommand.CommandCameraCapture, TimeLapse">
    <constructor-arg value="Camera Capture"/>
  </object>
  
  <!--控制平台相关指令-->
  <object id="MoveAbsolute" parent="abstractCommand" type="TimeLapse.Operation.MobilityCommand.CommandMoveAbsolute, TimeLapse">
    <constructor-arg value="0"/>
    <constructor-arg value="0"/>
    <constructor-arg value="0"/>
    <constructor-arg value="Move Absolute"/>
  </object>
  <object id="MoveExit" parent="abstractCommand" type="TimeLapse.Operation.MobilityCommand.CommandMoveExit, TimeLapse">
    <constructor-arg value="Move Exit"/>
  </object>
  <object id="MoveHome" parent="abstractCommand" type="TimeLapse.Operation.MobilityCommand.CommandMoveHome, TimeLapse">
    <constructor-arg value="Move Home"/>
  </object>
  <object id="MoveStart" parent="abstractCommand" type="TimeLapse.Operation.MobilityCommand.CommandMoveStart, TimeLapse">
    <constructor-arg value="10.0.0.100"/>
    <constructor-arg value="Move Start"/>
  </object>
  <object id="MoveX" parent="abstractCommand" type="TimeLapse.Operation.MobilityCommand.CommandMoveX, TimeLapse" >
    <constructor-arg value="0"/>
    <constructor-arg value="Move X"/>
  </object>
  <object id="MoveY" parent="abstractCommand" type="TimeLapse.Operation.MobilityCommand.CommandMoveY, TimeLapse" >
    <constructor-arg value="0"/>
    <constructor-arg value="Move Y"/>
  </object>
  <object id="MoveZ" parent="abstractCommand" type="TimeLapse.Operation.MobilityCommand.CommandMoveZ, TimeLapse" >
    <constructor-arg value="0"/>
    <constructor-arg value="Move Z"/>
  </object>
  <object id="SetMoveResolution" parent="abstractCommand" type="TimeLapse.Operation.MobilityCommand.CommandSetMoveResolution, TimeLapse" >
    <constructor-arg value="0"/>
    <constructor-arg value="Set Move Resolution"/>
  </object>
  <object id="SetMoveResolutionX" parent="abstractCommand" type="TimeLapse.Operation.MobilityCommand.CommandSetMoveResolutionX, TimeLapse" >
    <constructor-arg value="0"/>
    <constructor-arg value="Set Move Resolution X"/>
  </object>
  <object id="SetMoveResolutionY" parent="abstractCommand" type="TimeLapse.Operation.MobilityCommand.CommandSetMoveResolutionY, TimeLapse" >
    <constructor-arg value="0"/>
    <constructor-arg value="Set Move Resolution Y"/>
  </object>
  <object id="SetMoveResolutionZ" parent="abstractCommand" type="TimeLapse.Operation.MobilityCommand.CommandSetMoveResolutionZ, TimeLapse" >
    <constructor-arg value="0"/>
    <constructor-arg value="Set Move Resolution Z"/>
  </object>
  <object id="StartMoveXWithSpeed" parent="abstractCommand" type="TimeLapse.Operation.MobilityCommand.CommandStartMoveXWithSpeed, TimeLapse">
    <constructor-arg value="0"/>
    <constructor-arg value="Start Move X With Speed"/>
  </object>
  <object id="StartMoveYWithSpeed" parent="abstractCommand" type="TimeLapse.Operation.MobilityCommand.CommandStartMoveYWithSpeed, TimeLapse">
    <constructor-arg value="0"/>
    <constructor-arg value="Start Move Y With Speed"/>
  </object>
  <object id="StartMoveZWithSpeed" parent="abstractCommand" type="TimeLapse.Operation.MobilityCommand.CommandStartMoveZWithSpeed, TimeLapse">
    <constructor-arg value="0"/>
    <constructor-arg value="Start Move Z With Speed"/>
  </object>
  <object id="StopMove" parent="abstractCommand" type="TimeLapse.Operation.MobilityCommand.CommandStopMove, TimeLapse" >
    <constructor-arg value="Stop Move"/>
  </object>
  <object id="StopMoveX" parent="abstractCommand" type="TimeLapse.Operation.MobilityCommand.CommandStopMoveX, TimeLapse">
    <constructor-arg value="Stop Move X"/>
  </object>
  <object id="StopMoveY" parent="abstractCommand" type="TimeLapse.Operation.MobilityCommand.CommandStopMoveY, TimeLapse">
    <constructor-arg value="Stop Move Y"/>
  </object>
  <object id="StopMoveZ" parent="abstractCommand" type="TimeLapse.Operation.MobilityCommand.CommandStopMoveZ, TimeLapse">
    <constructor-arg value="Stop Move Z"/>
  </object>
  
  
  <!--命令队列-->
  <object id="CommandQueue" type="TimeLapse.Operation.CommandQueue, TimeLapse">
  </object>

  <object id="Camera" type="TimeLapse.Operation.IDSCamera, TimeLapse">
  </object>
  
  <object id="gclib" type="TimeLapse.Operation.Gclib, TimeLapse">
  </object>

  <object id="mobilityController" type="TimeLapse.Operation.HDSMobilityController, TimeLapse">
    <property name="gclib" ref="gclib" />
    <property name="ResolutionX" value="10000"/><!--光栅分辨率-->
    <property name="ResolutionY" value="20000"/><!--光栅分辨率-->
    <property name="ResolutionZ" value="20000"/><!--光栅分辨率-->
    <property name="DEFAULT_IP_ADDRESS" value ="10.0.0.100"/><!--默认IP-->
    <property name="AXIS_ENABLE" value ="SH"/><!--轴使能，使外界力不能移动轴+（A,B）-->
    <property name="AXIS_RELEASE" value ="MO"/><!--释放 电机关断-->
    <property name="STOP " value ="ST"/><!--停止所有动作-->
    <property name="EXCUATE" value ="BG"/><!--执行动作-->
    <property name="GO_HOME" value ="FIB"/><!--回零-->
    <property name="AXIS_A" value ="A"/><!--代表X轴-->
    <property name="AXIS_B" value ="B"/><!--代表Y轴-->
    <property name="AXIS_C" value ="C"/><!--代表Z轴-->
    <property name="GET_POS" value ="_TP"/><!--得到当前位置-->
    <property name="GET_POS_ERROR" value ="_TE"/><!--得到当前位置误差-->
    <property name="ABS_MOVE" value ="PA"/><!--绝对移动-->
    <property name="RELATIVE_MOVE" value ="PR"/><!--相对移动-->
    <property name="WATCH_OPERATOR" value ="MG "/><!--查看操作数-->
    <property name="START_MOTION" value =" _BG"/><!--开始运动-->
  </object>

</objects>